body{
	width: 500px;
	margin: 0px auto;;
	padding: 0px;
}

.cadastro{
	padding: 20px;
	margin-top: 50px;
	border-radius: 10px;
	box-shadow: 0 0 5px black;
	background: #ccc;
}
form, label{
	display: block;
}

input{
	margin: 8px;
	opacity: 0.4;
}
 #caixa-cont  {
 	width: 120px;
    margin-top: 20px;
    padding: 5px;
   /* background: #00FDF0;*/
    background-image: linear-gradient(to bottom right, #00FDF0, yellow); 
    border-radius: 7px;
    border: 2px solid #ccc;
    cursor: pointer;
    

}
 #caixa-cont a {
 	text-decoration: none;
 	font-weight: bold;
 	font-family: "lato";
 	color: #fff;
 	cursor: pointer;
 }
